@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: var(--lightGray);
    margin: auto 2rem auto 2rem;
    display: flex;
    align-items:center;
    max-height: 100vh;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
}

.container {
    background-color: var(--white);
    padding: 1rem;
    border-radius: 1rem;
    max-width: 300px;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(25%);
}

img {
    max-width: 100%;
    border-radius: 1rem;
}

h1 {
    text-align: center;
    padding-top: 1rem;
}

p {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    color: var(--grayishBlue);
}














.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }